# Project Settings
*.cywrk.*
*.cyprj.*

# Generated Assets and Resources
Debug/
Release/
Export/
**/codegentemp
**/Generated_Source
*_datasheet.pdf
*_timing.html
*.cycdx
*.cyfit
*.rpt
*.svd
*.log
*.zip

# Xcode project
iOS App/Clock/**/.DS_Store
iOS App/Clock/**/build/
iOS App/Clock/**/xcuserdata/
iOS App/Clock/**/._*